body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.5em;
  }
  
footer {
    background-color: black;
    color: white;
    padding-top: 50px;
  }

  .flexContainer {
    display: flex;
    flex-flow: wrap row;
  }

  .flexContainerColumn {
    display: flex;
    flex-flow: nowrap column;
  }

  .footerItem {
    justify-content: space-around;
    align-items: center;
  }

  .footerItemLast {
    justify-content: center;
    padding-top: 50px;
  }

  footer .socialContainer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
  }

  .redBorder {
    border: 1px solid red;
  }

  .vividBuiltLogo {
    max-height: 250px;
    max-width: 250px;
  }